@model SignalRprojectSylvain.ConnectedUsers;

<div class="col-2"><h2>Online Connected User List</h2></div>

@foreach (var user in SignalRprojectSylvain.ConnectedUsers.myConnectedUsers)
{
    <li>@user;</li>
}
